{% extends 'base.html' %}
{# Set the browser tab title for this specific page #}
{% block title%}About us - Contact manager {% endblock %}

{% block page_title_block %}About us{% endblock %}

{% block content%}
  <div class="text-lg text-gray-700 leading-relaxed">
    <p class = "mb-4">
        Welcome to Contact Manager! It is an ordinary web application for managing contacts

    </p>
    <p class="mb-4">
            Приложение разработано с использованием Python и фреймворка Django, обеспечивая надежную серверную часть и динамический пользовательский интерфейс. Для стилизации используется Tailwind CSS, что позволяет быстро создавать адаптивный и привлекательный дизайн.
        </p>
        <p>
            Мы постоянно работаем над улучшением функциональности и удобства использования. Оставайтесь на связи!
        </p>
</div>
{% endblock %}